<nz-card
  style="width: 80%; margin-left: 10%"
  [nzBordered]="false"
  nzTitle="Card title"
>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control
        nzHasFeedback
        nzValidatingTip="Validating..."
        [nzErrorTip]="userErrorTpl"
      >
        <nz-form-label nzRequired>Apellido paterno</nz-form-label>
        <input
          nz-input
          formControlName="apPaterno"
          placeholder="Apellido paterno"
        />
        <ng-template #userErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')"
            >El campo no puede estar vacio!</ng-container
          >
          <ng-container *ngIf="control.hasError('duplicated')"
            >Este campo es requerido!</ng-container
          >
        </ng-template>
      </nz-form-control>

      <nz-form-control
        nzHasFeedback
        nzValidatingTip="Validating..."
        [nzErrorTip]="userErrorTpl"
      >
        <nz-form-label nzRequired>Apellido materno</nz-form-label>
        <input
          nz-input
          formControlName="apMaterno"
          placeholder="Apellido materno"
        />
        <ng-template #userErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')"
            >El campo no puede estar vacio!</ng-container
          >
          <ng-container *ngIf="control.hasError('duplicated')"
            >Este campo es requerido!</ng-container
          >
        </ng-template>
      </nz-form-control>

      <nz-form-control
        nzHasFeedback
        nzValidatingTip="Validating..."
        [nzErrorTip]="userErrorTpl"
      >
        <nz-form-label nzRequired>Nombre</nz-form-label>
        <input nz-input formControlName="nombres" placeholder="Nombre" />
        <ng-template #userErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')"
            >El campo no puede estar vacio!</ng-container
          >
          <ng-container *ngIf="control.hasError('duplicated')"
            >Este campo es requerido!</ng-container
          >
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control
        [nzSpan]="12"
        nzHasFeedback
        nzValidatingTip="Validating..."
        [nzErrorTip]="userErrorTpl"
      >
        <nz-form-label nzRequired>numero de Docuemnto</nz-form-label>

        <input nz-input formControlName="nro_documento" placeholder="Nombre" />
        <ng-template #userErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')"
            >El campo no puede estar vacio!</ng-container
          >
          <ng-container *ngIf="control.hasError('duplicated')"
            >Este campo es requerido!</ng-container
          >
        </ng-template>
      </nz-form-control>

      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <nz-form-label [nzSpan]="7" nzRequired>Tipo de documento</nz-form-label>
        <nz-select name="select-error" [ngModel]="'Option 1'">
          <nz-option nzValue="Option 1" nzLabel="Option 1"></nz-option>
          <nz-option nzValue="Option 2" nzLabel="Option 2"></nz-option>
        </nz-select>
      </nz-form-control>

      <nz-form-control
        [nzSpan]="12"
        nzHasFeedback
        nzValidatingTip="Validating..."
        [nzErrorTip]="userErrorTpl"
      >
        <nz-form-label [nzSpan]="7">Expedito</nz-form-label>
        <input nz-input formControlName="nro_documento" placeholder="Nombre" />
        <ng-template #userErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')"
            >El campo no puede estar vacio!</ng-container
          >
          <ng-container *ngIf="control.hasError('duplicated')"
            >Este campo es requerido!</ng-container
          >
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control
        [nzSpan]="12"
        nzHasFeedback
        nzValidatingTip="Validating..."
        [nzErrorTip]="userErrorTpl"
      >
        <nz-form-label [nzSpan]="7" nzRequired>pais</nz-form-label>

        <input nz-input formControlName="nit" placeholder="Nombre" />
        <ng-template #userErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')"
            >El campo no puede estar vacio!</ng-container
          >
          <ng-container *ngIf="control.hasError('duplicated')"
            >Este campo es requerido!</ng-container
          >
        </ng-template>
      </nz-form-control>

      <nz-form-control
        [nzSpan]="12"
        nzHasFeedback
        nzValidatingTip="Validating..."
        [nzErrorTip]="userErrorTpl"
      >
        <nz-form-label [nzSpan]="7" nzRequired>ciudad</nz-form-label>

        <input nz-input formControlName="pais" placeholder="Nombre" />
        <ng-template #userErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')"
            >El campo no puede estar vacio!</ng-container
          >
          <ng-container *ngIf="control.hasError('duplicated')"
            >Este campo es requerido!</ng-container
          >
        </ng-template>
      </nz-form-control>

      <nz-form-control
        [nzSpan]="12"
        nzHasFeedback
        nzValidatingTip="Validating..."
        [nzErrorTip]="userErrorTpl"
      >
        <nz-form-label [nzSpan]="7" nzRequired>direccion</nz-form-label>

        <input nz-input formControlName="ciudad" placeholder="Nombre" />
        <ng-template #userErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')"
            >El campo no puede estar vacio!</ng-container
          >
          <ng-container *ngIf="control.hasError('duplicated')"
            >Este campo es requerido!</ng-container
          >
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control
        [nzSpan]="12"
        nzHasFeedback
        nzValidatingTip="Validating..."
        [nzErrorTip]="userErrorTpl"
      >
        <nz-form-label [nzSpan]="7" nzRequired
          >Numero de domicilio</nz-form-label
        >

        <input nz-input formControlName="nro" placeholder="Nombre" />
        <ng-template #userErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')"
            >El campo no puede estar vacio!</ng-container
          >
          <ng-container *ngIf="control.hasError('duplicated')"
            >Este campo es requerido!</ng-container
          >
        </ng-template>
      </nz-form-control>

      <nz-form-control
        [nzSpan]="12"
        nzHasFeedback
        nzValidatingTip="Validating..."
        [nzErrorTip]="userErrorTpl"
      >
        <nz-form-label [nzSpan]="7" nzRequired>Piso</nz-form-label>

        <input nz-input formControlName="piso" placeholder="Nombre" />
        <ng-template #userErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')"
            >El campo no puede estar vacio!</ng-container
          >
          <ng-container *ngIf="control.hasError('duplicated')"
            >Este campo es requerido!</ng-container
          >
        </ng-template>
      </nz-form-control>

      <nz-form-control
        [nzSpan]="12"
        nzHasFeedback
        nzValidatingTip="Validating..."
        [nzErrorTip]="userErrorTpl"
      >
        <nz-form-label [nzSpan]="7" nzRequired>Departamento</nz-form-label>

        <input nz-input formControlName="dpto" placeholder="Nombre" />
        <ng-template #userErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')"
            >El campo no puede estar vacio!</ng-container
          >
          <ng-container *ngIf="control.hasError('duplicated')"
            >Este campo es requerido!</ng-container
          >
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control
        [nzSpan]="12"
        nzHasFeedback
        nzValidatingTip="Validating..."
        [nzErrorTip]="userErrorTpl"
      >
        <nz-form-label [nzSpan]="7" nzRequired>Telefono</nz-form-label>

        <input nz-input formControlName="telefono" placeholder="Nombre" />
        <ng-template #userErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')"
            >El campo no puede estar vacio!</ng-container
          >
          <ng-container *ngIf="control.hasError('duplicated')"
            >Este campo es requerido!</ng-container
          >
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
        <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>

        <input
          nz-input
          formControlName="email"
          placeholder="email"
          type="email"
        />
        <ng-template #emailErrorTpl let-control>
          <ng-container *ngIf="control.hasError('email')"
            >The input is not valid E-mail!</ng-container
          >
          <ng-container *ngIf="control.hasError('required')"
            >Please input your E-mail!</ng-container
          >
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <nz-form-label [nzSpan]="7" nzRequired>Tipo de Accionista</nz-form-label>
      <nz-select name="select-error" [ngModel]="'Option 1'">
        <nz-option nzValue="Option 1" nzLabel="Option 1"></nz-option>
        <nz-option nzValue="Option 2" nzLabel="Option 2"></nz-option>
      </nz-select>
    </nz-form-control>

    <!-- <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Password</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please input your password!">
      <input nz-input type="password" formControlName="password" (ngModelChange)="validateConfirmPassword()" />
    </nz-form-control>
  </nz-form-item>
   -->
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">
        Submit
      </button>
      <button nz-button (click)="resetForm($event)">Reset</button>
    </nz-form-control>
  </form>
</nz-card>
