<ul nz-menu nzMode="horizontal" style="width: 100%">
  <li nz-menu-item routerLink="admin">Administrador</li>
  <li nz-menu-item routerLink="tipodoc">Tipos de documento</li>
  <li nz-menu-item routerLink="tipoacc">Tipos de accionista</li>
  <li nz-menu-item >Administrador de estados</li>

  <li nz-menu-item routerLink="crudpage">crud page pru</li>
  <li nz-menu-item routerLink="newcrud">new crud pru</li>
  <li nz-menu-item >Historico de cambios</li>
</ul>

<div class="row">
  <router-outlet></router-outlet>
</div>
