<div class="col-12 row" style="padding: auto;">
  <div class="col-2" >
    <div class="logo">
       <img src="assets/logo-elfec1.png" alt="">

    </div>
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-10">

    <div style="height: 2vh">
      <app-header></app-header>
    </div>

    <br />
    <!-- <div class="col-12" style="background-color: aqua; height: 90vh;"> -->
    <div class="col-12 row" style="position: fixed; height: 90vh; background-color: aquamarine; ">
    <router-outlet></router-outlet>
    </div>
  </div>
</div>


<div class="col-12">
  <app-footer></app-footer>
</div>
