
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}


nz-header {
  background:#FFFFFF  ;
  padding: 0;
  height: 70px;
  border-bottom: 1px solid #b6b6b6;
}
nz-sider{
  border-right: 1px solid #c0c0c0;
}

nz-content {
  margin: 6px;

}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
  background: #C0FEFF;
  height: 10px;
}

nz-layout {
  height: 100%;
}

/* img {
  margin-left: 25px;
  margin-top: 10%;

} */

.logo {
  height: 70px;
background-color:#FFFFFF ;
border-bottom: 1px solid #b6b6b6;
}

.collapsed-logo {
  width: 100px;  /* ajusta el ancho según tus necesidades */
  height: auto; /* mantiene la proporción original */
  display: block; /* Hace que la imagen sea un bloque para poder centrarla horizontalmente */
  margin-left: 9px;
  position: absolute;
  top: 10px; /* Ajusta la posición vertical hacia arriba según tus necesidades */
  left: 50%; /* Para centrar la imagen horizontalmente */
  transform: translateX(-55%);

}

.expanded-logo {
  width: 200px; /* ajusta el ancho según tus necesidades */
  height: auto; /* mantiene la proporción original */
  display: block; /* Hace que la imagen sea un bloque para poder centrarla horizontalmente */
  margin-left: 9px;
  position: absolute;
  top: -10px; /* Ajusta la posición vertical hacia arriba según tus necesidades */
  left: 50%; /* Para centrar la imagen horizontalmente */
  transform: translateX(-50%);
}
/* max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto; */
